name: Tests

on:
  workflow_dispatch:
  push:
  merge_group:
  pull_request:
    types: [labeled, opened] # opened is required to allow external contributors

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13.5"]
    uses: qiboteam/workflows/.github/workflows/rules-poetry.yml@v1
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      doctests: ${{ matrix.os == 'ubuntu-latest' }}
      poetry-extras: "--with docs,tests"
    secrets: inherit
